.w-100 {
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.p {
  &-t {
    &-1 {
      padding-top: 1rem;
    }
  }
}

.m {
  &-r {
    &-1 {
      margin-right: 1rem;
    }
  }
}

.form-field {
  width: 200px;
}

.background-color {
  background-color: #fafafa;
}
